body{
    background-color: black;
    font-family: "Audiowide", sans-serif;
}

  #Hero-Section2 {
    background-image: url("../img/moto.JPG");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
  }

#Mis-trabajos{
    font-style: italic;
   
}

.name{
    text-align: center;
    font-style: italic;
}

.info{
    text-align: center;
}

.list{
    text-align: start;
}

#footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

